abuse@{{ domain }}   root@{{ domain }}
postmaster@{{ domain }}   root@{{ domain }}
webmaster@{{ domain }}   root@{{ domain }}
tls-reports@{{ domain }}    root@{{ domain }}
root@{{ domain }}   {{ user_email }}

{{ user_email }}@{{ domain }}     {{ user_email }}